.ownertag {
    color: #fff;
    background: #7289da;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    height: 1.28em;
    padding: 1px 4px;
    border-radius: 3px;
    line-height: 1.3;
    margin-left: 4px;
    margin-bottom: 4px;
}

.ownertag-tooltip {
    cursor: pointer;
    display: inline-block;
}
