.ownertag {
    padding-left: 6px;
    padding-right: 6px;
    color: #ffffff !important;
}

.ownertag-list {
    color: #ffffff !important;
    margin-left: 5px;
}

.botText-1526X_ {
    color: #ffffff;
}
.botTagVerified-1klIIt {
    color: #ffffff;
}
